
@using Core.Model;
@inject Blazored.LocalStorage.ILocalStorageService localStore

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClientApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div style="" class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home @LoggedInUserName
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dicecup">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dicecup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <i class="bi bi-card-checklist centerIcon" aria-hidden="true"></i> Todo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <i class="bi bi-box centerIcon" aria-hidden="true"></i> Product
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shopping">
                <i class="bi bi-cart2 centerIcon" aria-hidden="true"></i> Shopping
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bike">
                <i class="bi bi-bicycle centerIcon" aria-hidden="true"></i> Bikeshop
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

        private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }

        private User? LoggedIn { get; set; }

        protected override async Task OnInitializedAsync()
        {
            LoggedIn = await localStore.GetItemAsync<User>("currentUser");
        }

        private string LoggedInUserName { get {
            if (LoggedIn == null)
                return "";
            return "(" + LoggedIn.UserName + ")";
        } }
    }

