@page "/todo"
@inject Blazored.LocalStorage.ILocalStorageService localStore
@using ClientApp.Util

<PageTitle>Todo</PageTitle>

<h1>Todo  (not done: @todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <InputCheckbox @bind-Value="todo.IsDone"/>
            <InputText @bind-Value="todo.Title" />
            <scan class="bi bi-x-circle-fill" style="color:red;" @onclick="() => DeleteToDo(todo)"></scan>
        </li>
    }
</ul>
<div class="btn-group" role="group" style="margin:2px 0 10px 0;">
    <button class="btn btn-outline-primary" @onclick="UpdateLocalStorage">Save</button>
    <button class="btn btn-outline-primary" @onclick="ClearLocalStorage">Clear</button>
    <button class="btn btn-outline-primary" @onclick="SorterToDos">Sorter</button>
</div>
<br/>
<div>
    <InputText placeholder="Something todo" @bind-Value="newTodoTitle" />
    <button class="btn btn-outline-primary" @onclick="AddTodo">Add todo</button>
</div>


    @code {
        private string? newTodoTitle;

        private List<ToDoItem> todos = new();

        private const string todoKey = "todo";

        protected override async Task OnInitializedAsync()
        {
            var data = await localStore.GetItemAsync<List<ToDoItem>>(todoKey);
            if (data != null)
                todos = data;
        }

        private void AddTodo()
        {
            if (!string.IsNullOrWhiteSpace(newTodoTitle))
            {
                todos.Add(new ToDoItem { Title = newTodoTitle });
                newTodoTitle = string.Empty;
            }
        }

        public async void UpdateLocalStorage()
        {
            await localStore.SetItemAsync(todoKey, todos);
        }

        public async void ClearLocalStorage()
        {
            todos.Clear();
            await localStore.RemoveItemAsync(todoKey);
            await localStore.ClearAsync();
        }

        private void DeleteToDo(ToDoItem todo)
        {
            todos.Remove(todo);
        }

        private void SorterToDos()
        {
            todos.Sort();
        }


    }

